* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Manrope', sans-serif;
    color: black;
    font-size: 16px;
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #FFD15B;
    width: 890px;
    font-size: 44px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;

}

.main-header {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(/assets/Img_header.jpeg);
    background-size: cover;
    background-position: center 69%;
    width: 100%;
    height: 650px;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-header_logo {
    width: 100%;
}

.main-header_search {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header_logo img {
    height: 40px;
}

.search-bar {
    width: 954px;
    height: 72px;
    background: white;
    border-radius: 11px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    background: white;
    width: 100%;
    height: 100%;
    border: 0px;
    margin-left: 25px;
    color: #7A7A7A;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;

}

.search-bar div {
    width: 52px;
    height: 52px;
    background: black;
    border-radius: 11px;
    text-align: center;
}

.search-bar i {
    color: white;
    font-size: 26px;
    line-height: 52px;
}

main {
    background: #C6C6C6;
    width: 100%;
    min-height: 700px;
    padding: 20px 104px;
}

.filter {
    display: flex;
    width: 100%;
    gap: 66px;

}

.btn {
    width: 195px;
    height: 56px;
    border: none;
    border-radius: 11px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    text-align: left;
    padding: 17px;
    position: relative;
}

.btn::after {
    font: var(--fa-font-solid);
    content: "\f078";
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 20px;
}

.recipes-wrapper {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
}

.recipe {
    width: 380px;
    height: 731px;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
}


.recipe img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;

}

.recipe_description {
    padding: 25px;
}

.recipe_description h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: 400;
}

.recipe_description h3 {
    font-weight: 700;
    font-size: 12px;
    color: #7A7A7A;
    margin-top: 25px;
    margin-bottom: 15px;
}

.recipe_description_text {
    font-size: 14px;
    width: 330px;
    height: 76px;
    overflow-y: scroll;
}

.ingredients_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.ingredient {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #7A7A7A;
    width: 150px;
}

.ingredient h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
}